* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 98vw;
    background-color: #eef4fa;
}

h1 {
    color: #132636;
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 50px;
}

#line {
    height: 5px;
    width: 60px;
    background-color: #c2a277;
    margin: auto;
    border-radius: 15px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btns button {
    padding: 5px 20px;
    border: 0.5px solid #c2a277;
    color: #c2a277;
    border-radius: 5px;
    cursor: pointer;
}

.btns button:hover {
    background-color: #c2a277;
    color: #132636;
}

.btns button.active {
    background-color: #132636;
    color: #c2a277;
}

#foodItems {
    height: auto;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.foodItem {
    display: flex;
    width: 33%;
    gap: 20px;
    margin: 25px 0px 25px;

}

.img {
    height: 150px;
    width: 40%;
    border: 5px solid #c2a277;
    border-radius: 10px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleDescription {
    width: 50%;
}

.titlePrice {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.titlePrice h3 {
    color: #132636;
    font-weight: 800;
}

.titleDescription p {
    color: grey;
    padding-top: 10px;
}

.titlePrice p {
    color: #c2a277;
    font-weight: 600;
}